/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
    font-size: 2vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------- FIN DU RESET CSS ------------------------*/

@charset "utf-8"
/* CSS Author : Alain Lortal */

/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Faustina', serif;
font-family: 'Exo', sans-serif;
*/
    
/*body{
    position: relative;
}
@media screen (min-width: 200px) & (max-width: 640px) {
  }
}*/

.navbar{
	background-color: rgba(0,0,0,1);
    padding : 2em 2em 0 2em;
    top: 0;
    left: 0;
    position: fixed;
    height: auto;
    color: white;
    width: 20%;
    text-decoration: none;
    z-index: 250;
}

.alfooter{
    position: fixed;
	background-color: rgba(0,0,0,1);
    padding : 2em 2em 0 2em;
    bottom: 0px;
    right: 0px;
    width: 20%;
    height: 25%;
    transform-origin: right 0px;
    transform: rotate(8deg);
    color: white;
    box-sizing: border-box;
    z-index: 250;
    
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .alfooter {
      transform: none;
      width: 100%;
      margin:auto;
      height: auto;
      min-height: 5vh;
  }
}

/*.container{
    display: inline-block;
    position: relative;
    left: 10vw;
    width: 80%;
    height: 80%;
    /*background: linear-gradient(228deg,#020202,rgba(0,0,0,0), #f2eff2);
   background-size: 100%;*/
}
/*@media screen and (min-width: 200px) and (max-width: 640px) {
  .container {
   top: 2vh;
  }
}

.svg-container{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 141%;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .svg-container, svg-lighting {
    transform: none;
      left: 0; 
      margin:0;
  }
}

.onglet{
    transform-origin: right 0;
    transform: rotate(8deg);
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .onglet {
    transform:none;
    left: 8vw;
  }
}

.svg-container{
    box-shadow: 2px 5px 5px -1px rgba(0,0,0,.15);
    -webkit-box-shadow: 2px 5px 5px -1px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 5px 5px -1px rgba(0,0,0,.15);
}

.svg-content{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}*/
/*----- classes contenus div -----*/
/*
.svg-text{
    display: inline-block;
    position: absolute;
    top: 5vw;
    left: 7vw;
    width: 85%;
    height: 85%;
    /*padding-left: 1vw;
    padding-top: 1vh;
    margin: 10% 10% 10% 10%; *//*
}

.dates{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 0.9em;
    font-style: normal 800;
}

.titre{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 1.4em;
    font-style: normal 800;
}

.marge{
    margin-left: 5em;
}

.soustitre{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 1.2em;
    font-style: italic 700;
}

.description{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    font-style: normal 200;
}

.reseau{
    display: inline-block;
    position: relative;
    top: 5vw;
    left: -5vw;
    width: 1.2em;
    height: 1.2em;
}

/*-----pages-----*/
.page{
  position: absolute;
  z-index:0;
  pointer-events:none;
    left: 0;
    top:0;
}
.active{
  z-index: 110;
}
.page .onglet, .page .main{
  display: inline-block;
  vertical-align: top;  
  margin: 0;
  padding: 0;
}
/*
#page_1 .onglet, #page_1 .main{
  background: purple;

}
#page_2 .onglet, #page_2 .main{
  left: 1vw;
}

#page_3 .onglet, #page_3 .main{
  background: yellow;
}
#page_4 .onglet, #page_4 .main{
  background: blue;
}
#page_5 .onglet, #page_5 .main{
  background: green;
}
#page_6.onglet, #page_6 .main{
  background: orange;
}
#page_7.onglet, #page_7 .main{
  background: grey;
}
#page_8.onglet, #page_8 .main{
  background: purple;
}
*/

.onglet{ 
  pointer-events:all;
  /* width: 40px; */
  height:40px;
  transform: rotate(-90deg);
  position: relative;
}
/*.onglet:after { 
  content:' '; 
  border:0; 
  position:relative; 
  left:-21px; 
  bottom:0px; 
  width:20px;                 
  height:100px; 
  border-radius: 0 0 20px 0; 
  background:#fff;
  }
.onglet:before { 
  content:' '; 
  border:0; 
  position:relative; 
  right:-21px; 
  bottom:0px; 
  width:20px; 
  height:100px; 
  border-radius: 0 0 0 20px; 
  background:#fff;
}*/
#page_8 .onglet{
  top: 600px;
z-index: 0;
}
#page_7 .onglet{
  top: 540px;
    z-index: 10;
}
#page_6 .onglet{
  top: 480px;
    z-index: 20;
}
#page_5 .onglet{
  top: 240px;
    z-index: 30;
}
#page_4 .onglet{
  top: 180px;
    z-index: 40;
}
#page_3 .onglet{
  top: 120px;
    z-index: 50;
}
#page_2 .onglet{
  top: 60px;
    z-index: 60;
}
#page_1 .onglet{
  top: 0px;
    z-index: 70;
}


#page_8,  #page_7, #page_6, #page_5, #page_4, #page_3, #page_2, #page_1, 
{
    right:0;
    top: 0; 
    position: relative;
    
}
#page_8{
z-index: 0;
}
#page_7{
    z-index: 10;
}
#page_6{
    z-index: 20;
}
#page_5{
    z-index: 30;
}
#page_4{
    z-index: 40;
}
#page_3{
    z-index: 50;
}
#page_2{
    z-index: 60;
}
#page_1{
    z-index: 70;
}



.main{
  width: 596px;
  height:842px; 
 background: url(../img/glassbackground.jpg) no-repeat center fixed; 
    background-size: cover;
}
/*-----sous-éléments div onglets-----*/

/*#navigation {
    z-index: 300;
    background: none;
    position: relative;
}

.inner-rotate {
    transform: rotate(-90deg);
    position: absolute;
    left: -35vw;
    top: 40vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .inner-rotate {
    left: -34vw; 
  }
}

.etiquetage {
    display: inline-block;
    position: absolute;
}

.etiquette{
    position: relative;
    color: rgba(0,0,0,1);
    left: 0vw;
    margin-left: 2vw;
    margin-right: 2vw;
    
}

.etiquette > p{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}

#a_propos>.etiquette{ 
    left: 20vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #a_propos>.etiquette {
    left: 20vw; 
  }
}

#competences>.etiquette{ 
    left: 18.5vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #competences>.etiquette {
    left: 18.5vw; 
  }
}

#experiences>.etiquette{ 
    left: 17.5vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #experiences>.etiquette {
    left: 18vw; 
  }
}

#realisations>.etiquette{ 
    left: 16vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #realisations>.etiquette {
    left: 16.75vw; 
  }
}

#formation>.etiquette{ 
    left: 14vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #formation>.etiquette {
    left: 15vw; 
  }
}

#loisirs>.etiquette{ 
   left: 9.5vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #loisirs>.etiquette {
    left: 11vw; 
  }
}

#plus>.etiquette{ 
   left: 3vw;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  #plus>.etiquette {
    left: 5vw; 
  }
}*/
/*-----div onglets-----*/

/*#eclairage {
    z-index: 120;
}

#a_propos{
    z-index: 70;
    text-decoration: none;
}
#a_propos:target{
    z-index: 100;
    text-decoration: none;
}

#competences{
    z-index: 60; 
    text-decoration: none;
}
#competences:target{
    z-index: 100;
    text-decoration: none;
}

#experiences{
    z-index: 50;
    text-decoration: none;
}

#experiences:target{
    z-index: 100;
    text-decoration: none;
}

#realisations{
    z-index: 40;
    text-decoration: none;
}
#realisations:target{
    z-index: 100;
    text-decoration: none;
}

#formation{
    z-index: 30;
    text-decoration: none;
}
#formation:target{
    z-index: 100;
    text-decoration: none;
}

#loisirs{
    z-index: 20;
    text-decoration: none;
}
#loisirs:target{
    z-index: 100;
    text-decoration: none;
}

#plus{
    z-index: 10;
    text-decoration: none;
}
#plus:target{
    z-index: 100;
    text-decoration: none;
}

#a_propos_fond{
    z-index: 5;
}
*/

