/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
    font-size: 2vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------- FIN DU RESET CSS ------------------------*/

@charset "utf-8"
/* CSS Author : Alain Lortal */

/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Faustina', serif;
font-family: 'Exo', sans-serif;
*/
    
body{
    position: relative;
    margin: 0;
    padding: 0;
    
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  }
}

.navbar{
	background-color: rgba(0,0,0,1);
    padding : 2em 2em 0 2em;
    top: 0;
    left: 0;
    position: fixed;
    height: auto;
    color: white;
    width: 20%;
    text-decoration: none;
    z-index: 250;
}

.alfooter{
    position: fixed;
	background-color: rgba(0,0,0,1);
    padding : 2em 2em 0 2em;
    bottom: 0px;
    right: 0px;
    width: 20%;
    height: 25%;
    transform-origin: right 0px;
    transform: rotate(8deg);
    color: white;
    box-sizing: border-box;
    z-index: 250;
    
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .alfooter {
      transform: none;
      width: 100%;
      margin:auto;
      height: auto;
      min-height: 5vh;
  }
}

.main{
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -10;
    margin: 0;
    top: 0;
    background: url(../img/glassbackground.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciennes versions navigateurs Chrome et Safari */
    background-size: cover;
    /*background: linear-gradient(228deg,#020202,rgba(0,0,0,0), #f2eff2);
   background-size: 100%;*/
}

.container{
    display: inline-block;
    position: relative;
    left: 10vw;
    top: 7vh;
    width: 80%;
    height: 80%;
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .container {
   top: 2vh;
  }
}

.svg-container{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 141%;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .svg-container, svg-lighting {
    transform: none;
      left: 0; 
      margin:0;
  }
}

.onglet{
    top: 10vw;
    transform-origin: right 0;
    transform: rotate(8deg);
    /*-webkit-animation: AnimationName 41s ease infinite;
    -moz-animation: AnimationName 41s ease infinite;
    -o-animation: AnimationName 41s ease infinite;
    animation: AnimationName 41s ease infinite;
    @-webkit-keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    */
}
/*@media screen and (min-width: 200px) and (max-width: 640px) {
  .onglet {
    transform:none;
    left: 8vw;
  }
}*/

.svg-container{
    box-shadow: 2px 5px 5px -1px rgba(0,0,0,.15);
    -webkit-box-shadow: 2px 5px 5px -1px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 5px 5px -1px rgba(0,0,0,.15);
}

.svg-content{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg-text{
    display: inline-block;
    position: absolute;
    top: 5vw;
    left: 7vw;
    width: 85%;
    height: 85%;
    /*padding-left: 1vw;
    padding-top: 1vh;
    margin: 10% 10% 10% 10%;  */
}

.dates{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 0.9em;
    font-style: normal 800;
}

.titre{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 1.4em;
    font-style: normal 800;
}

.marge{
    margin-left: 5em;
}

.soustitre{
    font-family: 'Kanit Sans', sans-serif;
    font-size: 1.2em;
    font-style: italic 700;
}

.description{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    font-style: normal 200;
}

.reseau{
    display: inline-block;
    position: relative;
    top: 5vw;
    left: -5vw;
    
}

.lien{
    
}
/*-----sous-éléments div onglets-----*/

#navigation {
    z-index: 300;
    background: none;
    position: relative;
}

.inner-rotate {
    transform: rotate(-90deg);
    position: absolute;
    left: -28vw;
    top: 20vw;
}

.etiquetage {
    display: inline-block;
    padding-top: 0 3vw 0 5w ;
}

#a_propos .etiquetage{ 
}


p #experiences .inner-rotate{
    position: absolute;
    top: 34.5vw;
    left: 1vw;
}


/*-----div onglets-----*/

#eclairage {
    z-index: 120;
}

#a_propos{
    z-index: 70;
    text-decoration: none;
}
#a_propos:target{
    z-index: 100;
    text-decoration: none;
}

#competences{
    z-index: 60; 
    text-decoration: none;
}
#competences:target{
    z-index: 100;
    text-decoration: none;
}

#experiences{
    z-index: 50;
    text-decoration: none;
}

#experiences:target{
    z-index: 100;
    text-decoration: none;
}

#realisations{
    z-index: 40;
    text-decoration: none;
}
#realisations:target{
    z-index: 100;
    text-decoration: none;
}

#formation{
    z-index: 30;
    text-decoration: none;
}
#formation:target{
    z-index: 100;
    text-decoration: none;
}

#loisirs{
    z-index: 20;
    text-decoration: none;
}
#loisirs:target{
    z-index: 100;
    text-decoration: none;
}

#plus{
    z-index: 10;
    text-decoration: none;
}
#plus:target{
    z-index: 100;
    text-decoration: none;
}

#a_propos_fond{
    z-index: 5;
}


